body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px 20px;
  background-color: #3d3d3d;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.containerBattery {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3e1e1e;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.containerBattery:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.contributions {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3d3d3d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 12px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
  font-weight: normal;
}

.dice-image {
  display: block;
  margin: 10px auto;
  width: 50px;
}

input {
  width: 96%; /* for some reason, it overlaps the padding of the container if 100% */
  padding: 10px;
  margin-bottom: 10px;
}

.calculate {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: 0;
}
.clear {
  background-color: #af4c4c;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: 0;
}
.switchLabels {
  background-color: #914caf;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: 0;
}

button:hover {
  opacity: 0.8;
}

#suggestions {
  margin-bottom: 10px;
}

.suggestion:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}

.suggestion {
  padding: 10px;
  border-radius: 8px;
  background-color: #e5e5e5;
  color: #000000;
  margin-bottom: 10px;
}

#result {
  margin-top: 20px;
  display: flex;
}

#leftDiv {
  flex: 1;
}

#rightDiv {
  flex: 1;
}

#selected {
  /*align everything to the center*/
  display: flex;
  justify-content: center;
  /*but keep the any image as it is*/
  align-items: flex-start;
}

.item {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.clickableItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px;
}

.found {
  border: 2px solid green;
  border-radius: 8px;
  /*animation: flash 2s ease-in-out;*/
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.error {
  /*all the text should have a red underline*/
  text-decoration: underline red;
}

.clickableItem:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 8px;
  transform: translateY(-2px);
  transition: transform 0.06s ease;
}

.item img {
  margin-right: 10px;
}

h2 {
  text-align: center;
}

#open_preferences_center {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.up-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #914caf;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
}
